.header {
    width: 100%;
    height: 94px;
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 148px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 140px;
}

.logo a {
    color:  #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    letter-spacing: 0.72px;
}

.nav-bar ul {
    display: flex;
    align-items: flex-start;
    gap: 48px;
}

.nav-bar li a {
    color:  #000;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.nav-bar-card {
    display: flex;
    gap: 24px;
}

.search {
    display: flex;
    padding: 7px 12px 7px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background-color: #f5f5f5;
}

.search input {
    border: none;
    padding: 10px;
    font-size: 16px;
    outline: none;
    background-color: transparent;
}